doctype html
html(lang="en")
  
  head

    include _head
  
  body

    include sections/preloader
    include sections/header
    include sections/features
    include sections/pic-text
    include sections/text-pic
    include sections/shots
    include sections/feedback
    include sections/plans
    include sections/download
    include sections/contact
    include sections/footer

    include sections/settings
    
    include _scripts
