@{
    ViewBag.Title = "Spinners";
}
<h3>Loading Spinners
   <small>Based on modern CSS3 animations with a simple fallback for oldies</small>
</h3>
<!-- START row-->
<div class="row">
   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">standard</div>
         <div class="panel-body whirl standard">
            <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">traditional</div>
         <div class="panel-body whirl traditional">
            <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">double-up</div>
         <div class="panel-body whirl double-up">
            <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">duo</div>
         <div class="panel-body whirl duo">
            <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">sphere</div>
         <div class="panel-body whirl sphere">
            <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">sphere vertical</div>
         <div class="panel-body whirl sphere vertical">
            <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">bar</div>
         <div class="panel-body whirl bar">
            <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">bar follow</div>
         <div class="panel-body whirl bar follow">
            <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">line</div>
         <div class="panel-body whirl line">
            <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">line grow</div>
         <div class="panel-body whirl line grow">
            <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">line back-and-forth</div>
         <div class="panel-body whirl line back-and-forth">
            <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">line back-and-forth grow</div>
         <div class="panel-body whirl line back-and-forth grow">
            <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">shadow</div>
         <div class="panel-body whirl shadow">
            <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">shadow oval</div>
         <div class="panel-body whirl shadow oval">
            <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">shadow oval right</div>
         <div class="panel-body whirl shadow oval right">
            <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">blade</div>
         <div class="panel-body whirl blade">
            <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">ringed</div>
         <div class="panel-body whirl ringed">
            <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">helicopter</div>
         <div class="panel-body whirl helicopter">
            <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">no-overlay</div>
         <div class="panel-body whirl no-overlay">
            <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
         </div>
      </div>
      <!-- END panel-->
   </div>
</div>
<!-- END row-->

@section Styles {

}
@section Scripts {

}
