<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
   <!-- START navbar header-->
   <div class="navbar-header">
      <a href="#/" class="navbar-brand">
         <div class="brand-logo">
            <img src="modules/core/img/brand/logo.png" alt="App Logo" class="img-responsive" />
         </div>
         <div class="brand-logo-collapsed">
            <img src="modules/core/img/brand/logo-single.png" alt="App Logo" class="img-responsive" />
         </div>
      </a>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="nav-wrapper">
      <!-- START Left navbar-->
      <ul class="nav navbar-nav">
         <li>
            <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
            <a ng-click="app.layout.isCollapsed = !app.layout.isCollapsed" class="hidden-xs">
               <em class="fa fa-navicon"></em>
            </a>
            <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
            <a toggle-state="aside-toggled" no-persist="no-persist" class="visible-xs sidebar-toggle">
               <em class="fa fa-navicon"></em>
            </a>
         </li>
      </ul>
      <!-- <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
         <li data-ng-repeat="item in menu.items | orderBy: 'position'" 
               data-ng-if="item.shouldRender(authentication.user);" 
               ng-switch="item.menuItemType" 
               ui-route="{{item.uiRoute}}" 
               class="{{item.menuItemClass}}"
               ng-class="{active: ($uiRoute)}" 
               dropdown="item.menuItemType === 'dropdown'">
               <a ng-switch-when="dropdown" dropdown-toggle class="dropdown-toggle">
                  <span data-ng-bind="item.title"></span>
                  <b class="caret"></b>
               </a>
               <ul ng-switch-when="dropdown" class="dropdown-menu">
                  <li data-ng-repeat="subitem in item.items | orderBy: 'position'" 
                        data-ng-if="subitem.shouldRender(authentication.user);" 
                        ui-route="{{subitem.uiRoute}}" 
                        ng-class="{active: $uiRoute}">
                           <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
                  </li>
               </ul>
               <a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
         </li>
      </ul>  -->
      <!-- END Left navbar-->
      <!-- START Right Navbar-->
      <ul class="nav navbar-nav navbar-right ml0">
         <!-- Search icon-->
         <li>
            <a search-open="">
               <em class="icon-magnifier"></em>
            </a>
         </li>
         <!-- START Offsidebar button-->
         <li>
            <a toggle-state="offsidebar-open" no-persist="no-persist">
               <em class="icon-notebook"></em>
            </a>
         </li>
         <!-- END Offsidebar menu-->
      </ul>
      <ul class="nav navbar-nav" data-ng-show="authentication.user">
         <li class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
               <span data-ng-bind="authentication.user.displayName"></span>
               <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li>
                  <a href="/#!/settings/profile">Edit Profile</a>
               </li>
               <li>
                  <a href="/#!/settings/accounts">Manage Social Accounts</a>
               </li>
               <li data-ng-show="authentication.user.provider === 'local'">
                  <a href="/#!/settings/password">Change Password</a>
               </li>
               <li class="divider"></li>
               <li>
                  <a href="/auth/signout">Signout</a>
               </li>
            </ul>
         </li>
      </ul>
      <ul class="nav navbar-nav navbar-right ml0 mr0" data-ng-hide="authentication.user">
         <li ui-route="/signup" ng-class="{active: $uiRoute}">
            <a href="/#!/signup">Sign Up</a>
         </li>
         <li class="divider-vertical"></li>
         <li ui-route="/signin" ng-class="{active: $uiRoute}">
            <a href="/#!/signin">Sign In</a>
         </li>
      </ul>
      <!-- END Right Navbar-->
   </div>
   <!-- END Nav wrapper-->
   <!-- START Search form-->
   <form role="search" action="search.html" class="navbar-form">
      <div class="form-group has-feedback">
         <input type="text" placeholder="{{ 'topbar.search.PLACEHOLDER' | translate }}" class="form-control" />
         <div search-dismiss="search-dismiss" class="fa fa-times form-control-feedback"></div>
      </div>
      <button type="submit" class="hidden btn btn-default">Submit</button>
   </form>
   <!-- END Search form-->
</nav>
<!-- END Top Navbar-->